@model FinDash.Models.Expense
@{
    ViewBag["Title"] = "Add Expense";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1 class="text-center">@ViewBag["Title"]</h1>
            <form asp-action="AddExpense" asp-controller="Home">
                <div class="form-group">
                    <div class="bg-danger">
                        <span asp-validation-for="Title"></span>
                    </div>
                    <br>
                    <input asp-for="Title" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                    <div class="bg-danger">
                        <span asp-validation-for="Description"></span>
                    </div>
                    <br>
                    <textarea asp-for="Description" cols="30" rows="10" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <div class="bg-danger">
                        <span asp-validation-for="Cost"></span>
                    </div>
                    <br>
                    <input asp-for="Cost" class="form-control" placeholder="Cost">
                </div>
                <input type="submit" value="Submit" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>